[package]
name = "moxin"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
makepad-widgets = { git = "https://github.com/makepad/makepad", branch = "rik" }
chrono = "0.4"
